---
import "@fontsource/arvo/400.css";
import "@fontsource/arvo/700.css";

import "../styles/main.css";
import { stripCodeTag } from "../utils";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
  description?: string;
  frontmatter?: {
    title: string;
  };
}

// ·
const pathname = new URL(Astro.request.url).pathname;
const isHome = pathname === "/";

const title = `${stripCodeTag(Astro.props.frontmatter?.title || Astro.props.title)}${isHome ? "" : " · quirks-mode"}`;
const description =
  Astro.props.description ||
  "Untangling web peculiarities. One noodle at a time.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/qm-og.jpg" />
    <meta property="og:url" content="https://quirks-mode.com" />
    <meta property="og:site_name" content={title} />
    <meta property="og:type" content="website" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/qm-og-x.jpg" />

    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

    <!-- <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}"> -->
    <!-- <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> -->
    <link
      rel="sitemap"
      href="/sitemap-0.xml"
      type="application/xml"
      title="sitemap"
    />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="quirks-mode"
      href={new URL("rss.xml", Astro.site)}
    />

    <link
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
      href="/styles/deferred/glitch.css"
    />
    <noscript>
      <link rel="stylesheet" href="/styles/deferred/glitch.css" />
    </noscript>

    <meta name="generator" content={Astro.generator} />

    <script is:inline>
      let theme = localStorage.getItem("theme");
      if (!theme) {
        if (window.matchMedia) {
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            theme = "dark";
          } else {
            theme = "light";
          }
        } else {
          theme = "light"; // default
        }
      }

      window.setTheme = (theme, userAction = false) => {
        document.querySelector("html").className = `theme-${theme}`;
        window.currentTheme = theme;
        if (userAction) {
          localStorage.setItem("theme", theme);
        }
      };

      window.setTheme(theme);
    </script>
  </head>
  <body class={`${isHome ? "home" : "inner-page"}`}>
      <header>
        <Navigation location="header" />
      </header>

      <main>
        <slot />
      </main>

      <Footer />

    <script is:inline>
      const suns = document.getElementsByClassName("sun");
      const moons = document.getElementsByClassName("moon");

      for (let sun of suns) {
        sun.addEventListener("click", function (e) {
          console.log("clicked on sun");
          e.preventDefault();
          window.setTheme("light", true);
        });
      }

      for (let moon of moons) {
        moon.addEventListener("click", function (e) {
          e.preventDefault();
          window.setTheme("dark", true);
        });
      }
    </script>
  </body>
</html>
